<template name="header">
  <!-- navbar -->
	<div class="navbar navbar-home">
		<div class="container">
			<div class="row">
				<div class="col s3">
					<div class="content-left">
						<a href="#slide-out" data-target="slide-out" class="sidenav-trigger"><i class="fa fa-bars"></i></a>

					</div>
				</div>
				<div class="col s6">
					<div class="content-center">
						<a href="/"><h1>ELECO</h1></a>
					</div>
				</div>
				<div class="col s3">
					<div class="content-right">
						<a href="/pages/contact.html"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- sidebar -->
	<div class="sidebar-panel">
		<ul id="slide-out" class="collapsible sidenav side-left side-nav sidenav-close">
			<li>
				<div class="user-view">
					<div class="background">
						<img src="/images/bg-user.jpg" alt="">
					</div>
					<img class="circle responsive-img" src="/images/profile.png" alt="">
					<span class="white-text name">John Doe</span>
				</div>
			</li>
			<li><a href="/pages/home-pages.html"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="/pages/element-list.html"><i class="fa fa-sliders"></i>Elements</a></li>
			<li><a href="/pages/pages-list.html"><i class="fa fa-clone"></i>Pages</a></li>
			<li><a href="/pages/shop-pages.html"><i class="fa fa-cart-plus"></i>Shop</a></li>
			<li><a href="/pages/apps.html"><i class="fa fa-mobile"></i>Apps</a></li>
			<li><a href="/pages/blog-pages.html"><i class="fa fa-rss"></i>Blog</a></li>
			<li><a href="/pages/main-features.html"><i class="fa fa-support"></i>Features</a></li>
		</ul>
	</div>
	<!-- end sidebar -->
</template>
