<template name="home">
  <!-- slide -->
	<div class="slide">
		<div class="slide-show-home owl-carousel owl-theme">
			<div class="slide-content">
				<div class="mask"></div>
				<img src="/images/slider-home1.jpg" alt="">
				<div class="intro-caption">
					<h2>Welcome to Eleco</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quos?</p>
				</div>
			</div>
			<div class="slide-content">
				<div class="mask"></div>
				<img src="/images/slider-home2.jpg" alt="">
				<div class="intro-caption">
					<h2>Powerfull Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quos?</p>
				</div>
			</div>
			<div class="slide-content">
				<div class="mask"></div>
				<img src="/images/slider-home3.jpg" alt="">
				<div class="intro-caption">
					<h2>Easy Customize</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, quos?</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end slide -->

	<!-- filter home -->
	<div class="filter-home segments">
		<div class="container">
			<div class="row">
				<div class="col s4">
					<a href="/video">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-video-camera"></i>
							<h6>Video</h6>
						</div>
					</a>
				</div>
				<div class="col s4">
					<a href="/pages/element-list.html">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-sliders"></i>
							<h6>Elements</h6>
						</div>
					</a>
				</div>
				<div class="col s4">
					<a href="/pages/pages-list.html">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-clone"></i>
							<h6>Pages</h6>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col s4">
					<a href="/pages/shop-pages.html">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-shopping-cart"></i>
							<h6>Shop</h6>
						</div>
					</a>
				</div>
				<div class="col s4">
					<a href="/pages/apps.html">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-mobile"></i>
							<h6>Apps</h6>
						</div>
					</a>
				</div>
				<div class="col s4">
					<a href="/pages/blog-pages.html">
						<div class="content waves-effect waves-light b-shadow">
							<i class="fa fa-rss"></i>
							<h6>Blog</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter home -->

	<!-- features home -->
	<div class="features-home segments">
		<div class="container">
			<div class="section-title">
				<h3>Features</h3>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-edit"></i>Easy to Edit</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-clone"></i>Clean</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-heart"></i>Awesome</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-shopping-cart"></i>Shop</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-rss"></i>Blog</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-newspaper-o"></i>News</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-image"></i>Portfolio</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-tint"></i>Splash</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-star"></i>Walkthrough</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-th-list"></i>Accordion</h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-support"></i>Badges</h6>
					</div>
				</div>
				<div class="col s6">
					<div class="content b-shadow">
						<h6><i class="fa fa-toggle-on"></i>Button</h6>
					</div>
				</div>
			</div>
			<div class="more-features">
				<a href="/pages/main-features.html">More <span>Eleco</span> Featuers <i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
	<!-- and features home -->
</template>
