<template name="video">
  <div class="video-container">
    <iframe width="100%" height="auto" src="https://vimeo.com/event/130243/embed/fab45ac225" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="container-fluid">
    <div class="wrap-content">
      <div class="collapse">
        <ul class="collapsible b-shadow" data-collapsible="accordion">
          <li>
            <div class="collapsible-header text-bold waves-effect waves-light-grey">
              <i class="fa fa-info black-text"></i> Agenda
            </div>
            <div class="collapsible-body">
              {{> timeline}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container">


      <div class="single-post">
        <a href=""><h5>Clean and Modern Web Design</h5></a>
        <p class="date"><i class="fa fa-clock-o"></i>01 January 2018</p>
        <div class="social-share">
          <a href=""><i class="fa fa-facebook waves-effect waves-light"></i></a>
          <a href=""><i class="fa fa-twitter waves-effect waves-light"></i></a>
          <a href=""><i class="fa fa-google waves-effect waves-light"></i></a>
          <a href=""><i class="fa fa-linkedin waves-effect waves-light"></i></a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi harum eius libero autem minima at dolorem, quae, voluptatibus quam ullam expedita dicta.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quos exercitationem atque fugit laboriosam. Ullam rem eveniet dolores doloribus, nesciunt soluta. Tenetur, voluptatem commodi omnis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae provident quasi tenetur officia enim velit atque ad, voluptate commodi placeat quia! Expedita ut vero asperiores maxime cupiditate molestiae at odit.</p>
      </div>
      <div class="author">
        <div class="content-image">
          <img src="images/testimonial2.png" alt="">
        </div>
        <div class="content-text">
          <h5>Jonathan Doe</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sequi consequatur</p>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="related-post">
      <div class="section-title">
        <div class="container">
          <h3>Related Post</h3>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s4">
            <div class="content-image">
              <img src="images/post2.jpg" alt="">
            </div>
          </div>
          <div class="col s8">
            <div class="content-text">
              <a href=""><h5>Congestion occurs up to 5 hours ice water melt</h5></a>
              <p class="date"><i class="fa fa-clock-o"></i>01 January 2018</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div class="content-image">
              <img src="images/post4.jpg" alt="">
            </div>
          </div>
          <div class="col s8">
            <div class="content-text">
              <a href=""><h5>Adults like to eat good fruits and meat, for health</h5></a>
              <p class="date"><i class="fa fa-clock-o"></i>01 January 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="comment-people">
        <h4>Comment</h4>
        <div class="content b-shadow">
          <div class="content-image">
            <img src="images/testimonial1.png" alt="">
          </div>
          <div class="content-text">
            <h5>Jonathan Doe</h5>
            <p class="date"><i class="fa fa-calendar"></i>01 January 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sequi</p>
          </div>
        </div>
        <div class="content reply b-shadow">
          <div class="content-image">
            <img src="images/testimonial2.png" alt="">
          </div>
          <div class="content-text">
            <h5>Jonathan Doe <i class="fa fa-bookmark"></i></h5>
            <p class="date"><i class="fa fa-calendar"></i>01 January 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sequi</p>
          </div>
        </div>
        <div class="comment-form b-shadow">
          <div class="wrap-title">
            <h5>Leave Your Reply</h5>
          </div>
          <form>
            <div class="input-field">
              <input type="text">
              <label>Name</label>
            </div>
            <div class="input-field">
              <input type="email">
              <label>Email</label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" cols="30" rows="10"></textarea>
              <label>Message</label>
            </div>
            <button class="button waves-effect waves-light">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
